.textAndSearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  display: flex;
  min-width: 200px;
}

.search {
  border-radius: 20px;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 8px;
  border: none;
}

.logo {
  display: flex;
  align-self: center;
}

.navBar {
  display: flex;
}


.buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
  
}

.submitBtn {
  cursor: pointer;
  border-radius: 20px;
  font-size: 15px;
  padding: 10px;
  font-weight: 800;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.whiteBtn {
  background-color: white;
  color: black;
}

.button {
  border-radius: 25px;
  font-size: 15px;
  font-weight: 800;
  padding: 10px;
  margin-right: 5px;
  transition: backgroud-color 0.15s ease-in-out;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  cursor: pointer;
}
.redBtn {
  color: white;
  background-color: #e01902;
}

.signIn {
  color: white;
  background-color: #b81301;
}

.signUp {
  border-radius: 20px;
  font-size: 15px;
  padding: 10px;
  font-weight: 800;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.welcomeSection {
  background-color: #db2e02;
  padding-bottom: 400px;
}

.savedAddress {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* 
.backgroundImage {
  background-image: url('your-image.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
} 
 */

h1 {
  color: white;
}
.titleText {
  font-size: 40px;
}

.section2 {
  padding-top: 100px;
  max-width: 768px;
  margin: 0px auto;

}
.section2TopPart{
  display: flex;
  gap: 30px;
}

a {
  text-decoration: none;
  color: red;
  font-weight: 700;
}


a:visited {
  text-decoration: none ;
}

.phoneImage {
  size: 200px;
}