.textAndSearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.searchBar {
  display: flex;
  min-width: 200px;
}

.search {
  border-radius: 20px;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 8px;
  border: none;
}

.logo {
  display: flex;
  align-self: center;
}

.navBar {
  display: flex;
}


.buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
  
}

.section2Layout {
  max-width: 200px;
}

.submitBtn {
  cursor: pointer;
  border-radius: 20px;
  font-size: 15px;
  padding: 10px;
  font-weight: 800;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.whiteBtn {
  background-color: white;
  color: black;
}

.button {
  border-radius: 25px;
  font-size: 15px;
  font-weight: 800;
  padding: 12px;
  margin-right: 5px;
  transition: backgroud-color 0.15s ease-in-out;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  cursor: pointer;
}
.redBtn {
  color: white;
  background-color: #e01902;
}

.signIn {
  color: white;
  background-color: #b81301;
}
.savedAddressBtn {
  display: flex;
  padding: 8px;
  font-weight: 600;
  gap: 3px;
  font-size: small;
}
/* 
.signUp {
  border-radius: 20px;
  font-size: 15px;
  padding: 10px;
  font-weight: 800;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  background-color: white;
} */

.welcomeSection {
  background-color: #db2e02;
  padding-bottom: 350px;
}

.savedAddress {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* 
.backgroundImage {
  background-image: url('your-image.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
} 
 */

h1 {
  color: white;
}
.titleText {
  font-size: 30px;
}

.section2 {
  padding-top: 100px;
  max-width: 1200px;
  margin: 0px auto;

}

@media (min-width: 768px)  {
  .section2TopPart{
    display: flex;
    justify-content: center;
    gap: 200px;
    text-align: center;
    margin-bottom: 90px;
  }
  
  .section2BottomPart {
    padding: 20px;
    display: flex;
    justify-content: start;
    gap: 30px;
    h2 {
      font-size: 40px;
    }
    margin-bottom: -60px;
  }
  .section2BottomText{
    max-width: 350px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }
}


a {
  text-decoration: none;
  color: red;
  font-weight: 700;
}


a:visited {
  text-decoration: none ;
}
  

.phoneImage {
  height: 168px;
  width: 168px;
}

.section3 {
  display: flex;
  background-color: #fff0ed;
  padding: 70px 20px 20px 70px;
  gap: 40px;
  h2 {
    font-size: 50px;
  }
}

.section3Text {
  max-width: 400px;
  margin-top: auto;
  margin-bottom: auto;
}

/* PROBLEM FOR LATER AFTER YOU THROW EVERYTHING ON THE SCREEN:
  Figure out how to use media queries depending on the size of the 
 */

 .section4 {
    max-width: 550px;
 }

 .section4Text {
    /* color: white; */
    /* margin-top: auto;
    margin-bottom: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
 }

.section6Imgs {
  height: 35%;
  width: 35%;
}